<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ctec.app_fac_banos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".cambiaContrasena"></activity>
        <activity
            android:name=".DocumentosGen"
            android:label="Documentos Generales" />
        <activity android:name=".ReImpTiqActivity" />
        <activity
            android:name=".CierreCajaActivity"
            android:label="Cierre de Caja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DevolverTiqActivity"
            android:label="Devolucion de Tiquete" />
        <activity
            android:name=".CuadreCajaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListPasajeros"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuscarActivity"
            android:label="Buscar" />
        <activity
            android:name=".FacBanosActivity"
            android:label="@string/title_activity_venta_tiq" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            android:theme="@style/AppTheme.NoActionBar"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_config"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>